FTH.json
[{"id":"5ef53777.338c68","type":"tab","label":"World Wide Emergencies","disabled":false,"info":"connect to a EMS public alert, transform into COT and push to FTS"},{"id":"3d73d706.0de6c8","type":"tab","label":"FTS Web MAP","disabled":true,"info":"Get the flow of COT from FTS and display on a web map (credit @ampledata#8354) "},{"id":"9483f9cf.5222d8","type":"tab","label":"TelegramTAK","disabled":false,"info":"Connects to FTS emergency and send a Telegram location and a message to a specific Telegram group chat. From a  same chat, you ca create  an emergency OR send a regular chat to all in FTS."},{"id":"200c11bc.712fce","type":"tab","label":"web Map 2","disabled":true,"info":"Get the flow of COT from FTS and display on a web map (credit @ampledata#8354) "},{"id":"ce1eb260.b0f65","type":"telegram bot","botname":"FreeTAKServerNotification_bot","usernames":"","chatids":"595264086, 935590830, -1001297275903","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"592e4fc.cfdb0b","type":"multifeed-parser","z":"5ef53777.338c68","d":true,"name":"EU emergency","interval":15,"urls":"http://southfront.org/feed","x":360,"y":120,"wires":[["51ae8ba6.5a1aa4"]]},{"id":"f89da775.1df008","type":"http request","z":"5ef53777.338c68","name":"Post to FTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://204.48.30.216:19023/ManageGeoObject/postGeoObject","tls":"","persist":false,"proxy":"","authType":"bearer","x":1010,"y":600,"wires":[["a2005c3b.d3453"]]},{"id":"21815e95.9e74b2","type":"debug","z":"5ef53777.338c68","name":"Rest result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":500,"wires":[]},{"id":"121d99cd.71ef96","type":"inject","z":"5ef53777.338c68","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["592e4fc.cfdb0b"]]},{"id":"fe31d5a6.664968","type":"xml","z":"5ef53777.338c68","name":"","property":"payload","attr":"","chr":"","x":370,"y":400,"wires":[["3b0de43e.9e26cc","aba30843.8a1ca8"]]},{"id":"51ae8ba6.5a1aa4","type":"debug","z":"5ef53777.338c68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"f65983ff.0047f","type":"inject","z":"5ef53777.338c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["46fbea16.4dfde4"]]},{"id":"8c15aac.0124058","type":"http request","z":"5ef53777.338c68","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":400,"wires":[["fe31d5a6.664968"]]},{"id":"95b43cd1.8efce","type":"function","z":"5ef53777.338c68","name":"convert to rest","func":" let longitude;\n  let latitude;\n  let attitude;\n  let geoObject;\n  let how;\n  let name;\n  let timeout;\n  \nlet item = msg.payload;\nmsg.payload = [];\n\n  var i;\nfor (i = 0; i < item.length; i++) \n{\n    name = item[i][\"title\"][0];\n  georss = item[i][\"georss:point\"][0];\n  var geoArray = georss.split(/(\\s+)/);\n  \n  longitude =geoArray[2];\n   latitude= geoArray[0];\n   //attitude =geoArray[1];\n     //TODO implement type \n     //geoObject = item[i][\"category\"][0];\n     geoObject = 'Other incident other';\n //  how;\n// hard coded for now TODO change it\n  timeout = 86400;  \n\nmsg.payload.push( {\n  longitude: longitude,\n  latitude: latitude,\n  attitude: 'hostile',\n  geoObject: geoObject,\n  how: \"nonCoT\",\n  name: name,\n  timeout: timeout\n});\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":500,"wires":[["21815e95.9e74b2","93437df0.3b965"]]},{"id":"3b0de43e.9e26cc","type":"debug","z":"5ef53777.338c68","name":"XML output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":400,"wires":[]},{"id":"26dec5ec.50a0ba","type":"comment","z":"5ef53777.338c68","name":"READMEFIRST","info":"EMS aggregated from\n[source](https://emergency.copernicus.eu/mapping/georss-feeds-aggregated#zoom=2&lat=33.83678&lon=39.36376&layers=TB00)\n","x":780,"y":120,"wires":[]},{"id":"28a50a5f.d096f6","type":"split","z":"5ef53777.338c68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":630,"y":500,"wires":[["95b43cd1.8efce","fb6b67a6.595548"]]},{"id":"fb6b67a6.595548","type":"debug","z":"5ef53777.338c68","name":"Split result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":440,"wires":[]},{"id":"aba30843.8a1ca8","type":"function","z":"5ef53777.338c68","name":"retun Items only","func":" let longitude;\n  let latitude;\n  let attitude;\n  let geoObject;\n  let how;\n  let name;\n  let timeout;\n  \nlet item = msg.payload[\"rss\"][\"channel\"][0][\"item\"];\n\n\nmsg.payload = {\n item\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":500,"wires":[["28a50a5f.d096f6"]]},{"id":"93437df0.3b965","type":"split","z":"5ef53777.338c68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":600,"wires":[["64eb6ca1.283324","f89da775.1df008"]]},{"id":"64eb6ca1.283324","type":"debug","z":"5ef53777.338c68","name":"final split","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":560,"wires":[]},{"id":"a2005c3b.d3453","type":"debug","z":"5ef53777.338c68","name":"Rest body","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":600,"wires":[]},{"id":"46fbea16.4dfde4","type":"function","z":"5ef53777.338c68","name":"Calculate Date range","func":"// retuns the query of 3 months\n\nvar dateObj = new Date();\nvar range = 3;\nvar month = dateObj.getUTCMonth() + 1; //months from 1-12\nvar prevMonth = month - range;\nvar day = dateObj.getUTCDate();\nvar year = dateObj.getUTCFullYear();\n\ndateEnd = year + \"-\" + month + \"-\" + day;\n\nvar dateStart = year + \"-\" + prevMonth + \"-\" + day;\n\nmsg.url = \"https://sertit.unistra.fr/activations-georss/?created%5Bmin%5D=\" + dateStart + \"&created%5Bmax%5D=\" + dateEnd;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["8c15aac.0124058","72bcb47a.7498cc"]]},{"id":"72bcb47a.7498cc","type":"debug","z":"5ef53777.338c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":260,"wires":[]},{"id":"38b2e01.c9d642","type":"telegram sender","z":"9483f9cf.5222d8","name":"","bot":"ce1eb260.b0f65","haserroroutput":false,"outputs":1,"x":1270,"y":440,"wires":[[]]},{"id":"e6457bcf.d57208","type":"inject","z":"9483f9cf.5222d8","name":"every 10 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["881e666.48a6798"]]},{"id":"5a070fcf.8edd8","type":"function","z":"9483f9cf.5222d8","name":"send location","func":"let longitude;\n  let latitude;\n  let name;\n  let type;\n  let message1 = 'you have an emergency!\\n';\n  let message2 = ' is ';\n  let message3 = '\\n Latitude: ';\n  let message4 = '\\n longitude: ';\n  \nlet item = msg.payload;\nmsg.payload = [];\n\n  var i;\n\n    name = item[\"name\"];\n    type = item[\"type\"];\n    longitude =item[\"lon\"];\n    latitude= item[\"lat\"];\n   \nmsg.payload = {}\n\n//family emergencies group 595264086, \n// open ID 1001297275903\n// personal ID is 935590830\nmsg.payload.chatId = -1001297275903;\n//msg.payload.type = 'message';\nmsg.payload.type = 'location';\n//msg.payload.content = message1 + name + message2 + type + message3 +  latitude + message4 + longitude;\nmsg.payload.content={\n    'longitude': longitude,\n    'latitude':  latitude\n    };\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["38b2e01.c9d642","4a638f9c.40bb4"]]},{"id":"881e666.48a6798","type":"http request","z":"9483f9cf.5222d8","name":"Get emergencies","method":"GET","ret":"txt","paytoqs":"ignore","url":"204.48.30.216:19023//ManageEmergency/getEmergency","tls":"","persist":false,"proxy":"","authType":"bearer","x":270,"y":260,"wires":[["f9a1bda6.5bded"]]},{"id":"f9a1bda6.5bded","type":"json","z":"9483f9cf.5222d8","name":"transform to Json","property":"payload","action":"","pretty":false,"x":510,"y":180,"wires":[["bacdf9d8.da4698","e2652bb2.4e3bc8"]]},{"id":"bacdf9d8.da4698","type":"debug","z":"9483f9cf.5222d8","name":"Json Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":80,"wires":[]},{"id":"e2652bb2.4e3bc8","type":"split","z":"9483f9cf.5222d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":300,"wires":[["c5407afe.598be8","7e07a5f0.66496c"]]},{"id":"c5407afe.598be8","type":"debug","z":"9483f9cf.5222d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"4a638f9c.40bb4","type":"debug","z":"9483f9cf.5222d8","name":"after function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":320,"wires":[]},{"id":"31fd743d.b496bc","type":"split","z":"9483f9cf.5222d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":440,"wires":[["5a070fcf.8edd8","a8ffb0ea.8b99f"]]},{"id":"22c293de.eeb96c","type":"http request","z":"5ef53777.338c68","name":"Post  geoObject to FTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://204.48.30.216:19023/ManageGeoObject/postGeoObject","tls":"","persist":false,"proxy":"","authType":"bearer","x":1300,"y":720,"wires":[["ee68979.d06c068"]]},{"id":"f7bbd31d.1c46e","type":"debug","z":"5ef53777.338c68","name":"Rest result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":780,"wires":[]},{"id":"2778ffe4.dc324","type":"xml","z":"5ef53777.338c68","name":"","property":"payload","attr":"","chr":"","x":570,"y":660,"wires":[["ed499ac5.687b88","6ac2f102.5077a"]]},{"id":"37feebcf.435fc4","type":"inject","z":"5ef53777.338c68","name":"Global disaster 24 H","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":640,"wires":[["39c2ddcc.8a6dc2"]]},{"id":"73bc62c7.0140dc","type":"http request","z":"5ef53777.338c68","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":660,"wires":[["2778ffe4.dc324"]]},{"id":"baadfbfe.23f398","type":"function","z":"5ef53777.338c68","name":"convert to rest","func":" let longitude;\n  let latitude;\n  let attitude = 'hostile';\n  let geoObject;\n  let how = \"nonCoT\";\n  let name;\n  let timeout = 86400;\n  \nlet item = msg.payload;\nmsg.payload = [];\n\n  name = item.title[0];\n  latitude=item[\"geo:Point\"][0][\"geo:lat\"][0];\n  longitude = item[\"geo:Point\"][0][\"geo:long\"][0];\n  geoObject = item[\"gdacs:eventtype\"][0];\n  \n\n  switch(geoObject) {\n  case 'DR':\n    // code block\n    geoObject = 'drought'\n    break;\n  case 'EQ':\n    // earthquac \n       geoObject = 'earthquake'\n    break;\n      case 'TC':\n    // code block\n           geoObject = 'cyclone'\n    break;\n  default:\n    // code block\n    geoObject= 'Other incident other';\n}\n  \n  \n  \n  \nmsg.payload.push( {\n  longitude: longitude,\n  latitude: latitude,\n  attitude: attitude,\n  geoObject: geoObject,\n  how: how,\n  name: name,\n  timeout: timeout\n});\n    \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":720,"wires":[["f7bbd31d.1c46e","287f7f8c.80f29"]]},{"id":"ed499ac5.687b88","type":"debug","z":"5ef53777.338c68","name":"XML output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":740,"wires":[]},{"id":"604f5bb2.de7f64","type":"split","z":"5ef53777.338c68","name":"split to in array of Items","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":660,"wires":[["37ad0315.b164dc"]]},{"id":"d2c622f3.89c62","type":"debug","z":"5ef53777.338c68","name":"final split","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":600,"wires":[]},{"id":"ee68979.d06c068","type":"debug","z":"5ef53777.338c68","name":"Rest body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":780,"wires":[]},{"id":"39c2ddcc.8a6dc2","type":"function","z":"5ef53777.338c68","name":"URL","func":"// retuns the query of 1 week at www.gdacs.org\n\n\nmsg.url = \"https://www.gdacs.org/xml/rss_24h.xml\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":660,"wires":[["73bc62c7.0140dc","18b66e60.0b8c72"]]},{"id":"18b66e60.0b8c72","type":"debug","z":"5ef53777.338c68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":720,"wires":[]},{"id":"6ac2f102.5077a","type":"function","z":"5ef53777.338c68","name":"retun Items only","func":" let longitude;\n  let latitude;\n  let attitude;\n  let geoObject;\n  let how;\n  let name;\n  let timeout;\n  \nlet item = msg.payload[\"rss\"][\"channel\"][0][\"item\"];\n\n\nmsg.payload = {\n item\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["604f5bb2.de7f64"]]},{"id":"37ad0315.b164dc","type":"split","z":"5ef53777.338c68","name":"single messages","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1170,"y":660,"wires":[["d2c622f3.89c62","baadfbfe.23f398"]]},{"id":"287f7f8c.80f29","type":"split","z":"5ef53777.338c68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1130,"y":720,"wires":[["22c293de.eeb96c"]]},{"id":"a8ffb0ea.8b99f","type":"function","z":"9483f9cf.5222d8","name":"send text","func":"let longitude;\n  let latitude;\n  let name;\n  let type;\n  let message1 = 'you have an emergency!\\n';\n  let message2 = ' is ';\n  let message3 = '\\n Latitude: ';\n  let message4 = '\\n longitude: ';\n  \nlet item = msg.payload;\nmsg.payload = [];\n\n  var i;\n\n    name = item[\"name\"];\n    type = item[\"type\"];\n    longitude =item[\"lon\"];\n    latitude= item[\"lat\"];\n   \nmsg.payload = {}\n\n//family emergencies group 595264086, \n// open ID 1001297275903\n// personal ID is 935590830\nmsg.payload.chatId = -1001297275903;\nmsg.payload.type = 'message';\nmsg.payload.content = message1 + name + message2 + type + message3 +  latitude + message4 + longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":500,"wires":[["38b2e01.c9d642"]]},{"id":"7e07a5f0.66496c","type":"switch","z":"9483f9cf.5222d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":380,"wires":[["cb4816a0.0d1158"],["31fd743d.b496bc","282c3e1c.0ab7b2"]]},{"id":"cb4816a0.0d1158","type":"debug","z":"9483f9cf.5222d8","name":"empty!","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"282c3e1c.0ab7b2","type":"debug","z":"9483f9cf.5222d8","name":"Full!","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]},{"id":"5933fdea.cec3d4","type":"inject","z":"200c11bc.712fce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["4bd2e2df.f9aa7c"]]},{"id":"4bd2e2df.f9aa7c","type":"function","z":"200c11bc.712fce","name":"CoT Hello","func":"const dt = Date.now();\nconst dtD = new Date(dt).toISOString();\nconst dtD5 = new Date(dt + 250000).toISOString();\n\nmsg.payload = {\n    event: {\n        \"$\": { \n            version: \"2.0\", \n            type: \"t-x-d-d\", \n            uid : \"node-red\",\n            time: dtD,\n            start: dtD,\n            stale: dtD5,\n            how: \"m-g\"\n        }\n    }\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":160,"wires":[["5b9d9a93.9d7be4"]]},{"id":"5b9d9a93.9d7be4","type":"xml","z":"200c11bc.712fce","name":"","property":"payload","attr":"","chr":"","x":450,"y":160,"wires":[["be931fee.99f7b"]]},{"id":"22586e65.0be3c2","type":"comment","z":"200c11bc.712fce","name":"Keep Server Connection Alive","info":"","x":200,"y":120,"wires":[]},{"id":"be931fee.99f7b","type":"tcp request","z":"200c11bc.712fce","server":"204.48.30.216","port":"8087","out":"sit","splitc":" ","name":"FTS Server","x":590,"y":160,"wires":[["dcfd8c13.36d5"]]},{"id":"dcfd8c13.36d5","type":"function","z":"200c11bc.712fce","name":"buf->str","func":"let oldPayload = msg.payload;\nmsg.payload = oldPayload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["6a9a0012.7eabd"]]},{"id":"6a9a0012.7eabd","type":"xml","z":"200c11bc.712fce","name":"","property":"payload","attr":"","chr":"","x":870,"y":160,"wires":[["84789664.ba09f8"]]},{"id":"84789664.ba09f8","type":"function","z":"200c11bc.712fce","name":"CoT to Map","func":"/*\nThe following block of code transforms a JSONified CoT Event into a Worldmap \nPoint Payload.\n*/\n\nlet icon = null;\nlet invalid = \"9999999.0\";\nlet event = msg.payload[\"event\"];\n\n/* \nIf the CoT Event contains Detail Elements, extract the first one.\nIf there are no Detail Elements, break.\n*/\nlet _detail = event[\"detail\"];\nif (_detail === undefined) {\n  return null;\n}\nlet detail = _detail[0];\n\n/*\nIf the CoT Event contains a Point element, use it. If not, break.\n*/\nlet point = event[\"point\"];\nif (point === undefined) {\n  return null;\n}\n\n/* We'll use UID a couple of times, so lets set it as a variable here. */\nlet uid = event[\"$\"][\"uid\"];\n\n/* Extract the Event Type and Affiliation. */\nlet eventType = event[\"$\"][\"type\"];\net = eventType.split(\"-\");\nlet affil = et[1];\n\n/* There is no '.' notation in SDR, so mark Neutral. */\nif (affil.includes(\".\")) {\n  affil = \"n\";\n} \n\n/* Ram the CoT Event Type portions into a SIDR Type */\nlet SIDC = `s${affil}${et[2]}p${et[3] || \"-\" }${et[4] || \"-\" }${et[5] || \"-\" }--------`;\n\n/* \nPoints on the Worldmap can only have one uniquite identifier, which is also\nthat Points display name. If possible, use a Callsign, otherwise use UID.\n*/\nlet callsign;\nlet _contact = detail[\"contact\"];\nif (_contact === undefined) {\n  callsign = uid;\n} else {\n  callsign = _contact[0][\"$\"][\"callsign\"]; \n}\n\n/* Mouse-over Label */\nlet label = `Callsign: ${callsign} UID: ${uid}<br/>Type: ${eventType} SIDC: ${SIDC}`\n\nlet remarks = detail[\"remarks\"];\nif (remarks) {\n  remark = remarks[0][\"$\"];\n  label = `${label}<br/>${remarks}`;\n}\n\nlet track = detail[\"track\"]\n\nbearing = null;\nspeed = null;\n\nif (track) {\n  course = track[0][\"$\"][\"course\"];\n  if (course) {\n    if (course.toString() !== invalid && course.toString() !== \"0\") {\n      bearing = course;\n    }\n  }\n\n  _speed = track[0][\"$\"][\"speed\"];\n  if (_speed) {\n    if (_speed.toString() !== invalid) {\n      speed = _speed;\n    }\n  }\n}\n\n/* \nIf CoT Point CE is set and is not invalid, use that as Worldmap Point Accuracy. \n*/\naccuracy = null;\nce = event[\"point\"][0][\"$\"][\"ce\"];\nif (ce.toString() !== invalid) {\n  accuracy = ce;\n}\n\n/* Add a helpful weblink to Worldmap Points. */\nweblink = null;\nif (uid.includes(\"ICAO\")) {\n  weblink = `https://globe.adsbexchange.com/?icao=${uid.replace(\"ICAO-\", \"\")}`;\n} else if (uid.includes(\"APRS\")) {\n  weblink = `https://qrz.com/db/${uid.replace(\"APRS.\", \"\").split(\"-\")[0]}`;\n}\n\n/* Serialize as a Worldmap compatible Payload. */\nmsg.payload = {\n  name: callsign,\n  tooltip: label,\n  lat: event[\"point\"][0][\"$\"][\"lat\"],\n  lon: event[\"point\"][0][\"$\"][\"lon\"],\n  speed: speed,\n  bearing: bearing,\n  accuracy: accuracy,\n  SIDC: SIDC,\n  icon: icon,\n  ttl: 3600,\n  weblink: weblink,\n  layer: eventType\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":160,"wires":[["7cf11924.aafee8","21f3e38f.ab8ecc"]]},{"id":"7cf11924.aafee8","type":"worldmap","z":"200c11bc.712fce","name":"TAK Map","lat":"37.76","lon":"-122.4975","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/tak-map","x":1160,"y":160,"wires":[]},{"id":"f7a01771.45aa98","type":"comment","z":"200c11bc.712fce","name":"Connect to FTS","info":"","x":600,"y":120,"wires":[]},{"id":"8eb7f830.342298","type":"comment","z":"200c11bc.712fce","name":"Convert to Worldmap Payload","info":"","x":1060,"y":120,"wires":[]},{"id":"21f3e38f.ab8ecc","type":"debug","z":"200c11bc.712fce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"71ec99cf.bfd928","type":"telegram receiver","z":"9483f9cf.5222d8","name":"","bot":"ce1eb260.b0f65","saveDataDir":"","filterCommands":false,"x":130,"y":440,"wires":[["3ccce5c9.7404ba","c361a90.7f6a358"],["abdcc1ba.13be6"]]},{"id":"abdcc1ba.13be6","type":"debug","z":"9483f9cf.5222d8","name":"no way!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":400,"wires":[]},{"id":"addb6aba.f6de08","type":"debug","z":"9483f9cf.5222d8","name":"REST emergency","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"347cc5c0.932a3a","type":"function","z":"9483f9cf.5222d8","name":"Emergency message","func":"if(msg.payload.type='location') \n{\n    var latitude = msg.payload.content.latitude;\n    var longitude = msg.payload.content.longitude;\n  //  var name = msg.payload.from.username;\n  var name=msg.originalMessage.from.username;\n    var emergencyType= \"In Contact\";\n    msg.payload={name, emergencyType, latitude, longitude };\n    return msg;\n}\nelse \n{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":560,"wires":[["addb6aba.f6de08","f057f34.3744c1"]]},{"id":"3ccce5c9.7404ba","type":"debug","z":"9483f9cf.5222d8","name":"original","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":340,"wires":[]},{"id":"f057f34.3744c1","type":"http request","z":"9483f9cf.5222d8","name":"Post  emergency to FTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://204.48.30.216:19023/ManageEmergency/postEmergency","tls":"","persist":false,"proxy":"","authType":"bearer","x":730,"y":560,"wires":[["e43df410.cc0178"]]},{"id":"e43df410.cc0178","type":"debug","z":"9483f9cf.5222d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"c361a90.7f6a358","type":"switch","z":"9483f9cf.5222d8","name":"switch message types","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":180,"y":600,"wires":[["347cc5c0.932a3a"],["34f1124b.87728e"],["ff07e0fd.4b97d"]]},{"id":"3dabbf8c.2ec5d","type":"http request","z":"9483f9cf.5222d8","name":"Post  Chat to FTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://204.48.30.216:19023//ManageChat/postChatToAll","tls":"","persist":false,"proxy":"","authType":"bearer","x":710,"y":680,"wires":[[]]},{"id":"34f1124b.87728e","type":"function","z":"9483f9cf.5222d8","name":"Chat Message","func":"if(msg.payload.type='message') \n{\n\n  //  var name = msg.payload.from.username;\n  var sender=msg.originalMessage.from.username;\n    //var message= msg.payload.text;\n    var message= msg.originalMessage.text\n    msg.payload={sender, message};\n    return msg;\n}\nelse \n{\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["3dabbf8c.2ec5d","bfb1d51d.f05d48"]]},{"id":"ff07e0fd.4b97d","type":"debug","z":"9483f9cf.5222d8","name":"otherwise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":740,"wires":[]},{"id":"bfb1d51d.f05d48","type":"debug","z":"9483f9cf.5222d8","name":"REST chat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":620,"wires":[]}]